// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin zz($x,$y){
  -moz-transform: scale($x,$y) !important;
  -o-transform: scale($x,$y) !important;
  -webkit-transform: scale($x,$y) !important;
  transform: scale($x,$y) !important;


}

@mixin trans_settings(){
  -webkit-transition: opacity 0.5s cubic-bezier(.19,1,.22,1), -webkit-transform 0.5s cubic-bezier(.19,1,.22,1) !important;
  -moz-transition: opacity 0.5s cubic-bezier(.19,1,.22,1), -moz-transform 0.5s cubic-bezier(.19,1,.22,1) !important;
  -o-transition: opacity 0.5s cubic-bezier(.19,1,.22,1), -o-transform 0.5s cubic-bezier(.19,1,.22,1) !important;
  transition: opacity 0.5s cubic-bezier(.19,1,.22,1), transform 0.5s cubic-bezier(.19,1,.22,1) !important;

}
@mixin transition($property,$duration,$type){
  -webkit-transition: $property $duration $type;
  -moz-transition: $property $duration $type;
  -o-transition: $property $duration $type;
  transition: $property $duration $type;

}

@mixin anim($animation,$type,$duration){

  -webkit-animation-name: $animation; /* Chrome, Safari, Opera */
  -webkit-animation-duration: $duration; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: $type; /* Chrome, Safari, Opera */
  animation-name: $animation;
  animation-duration: $duration;
  animation-iteration-count: $type;
}
@-webkit-keyframes position_scroll{
  0%{
    position: absolute;

  }

  50%{
    position: absolute;
    top:50%;

  }
  100%{
    position: absolute;
    top:80%;
  }
}
.scroll_top{
  @include anim(position_scroll,normal,2s);
}
@keyframes position_scroll {
  0%{
    position: absolute;


  }

  50%{
    position: absolute;
    top:50%;

  }
  100%{
    top:80%;
    position: absolute;
  }
}
@-webkit-keyframes zoom_in{
  0%{
    @include zz(.0,0.3);

  }

  50%{
    @include zz(0.599,0.6);

  }

}
@keyframes zoom_in {
  0%{
    @include zz(.0,0.3);

  }

  50%{
    @include zz(.599,.6);

  }


}

@-webkit-keyframes anim_background{
  0%{
    opacity:1;
  }
  50%{
    opacity:0.9;
  }
  100%{
    opacity:1;
  }
}
@keyframes anim_background {
  0%{
    opacity:1;
  }
  50%{

    opacity:0.9;
  }
  100%{
    opacity:1;
  }
}
@-webkit-keyframes anim_background2{
  0%{
    opacity:1;
  }
  50%{
    opacity:0.2;
  }
  100%{
    opacity:1;
  }
}
@keyframes anim_background2 {
  0%{
    opacity:1;
  }
  50%{

    opacity:0.2;
  }
  100%{
    opacity:1;
  }
}
@-webkit-keyframes rotate1{
  0%{
    -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform:rotate(0deg);
    transform: rotate(0deg);
    
  }
  50%{
    -moz-transform: rotate(30deg); /* Для Firefox */
    -ms-transform: rotate(30deg); /* Для IE */
    -webkit-transform: rotate(30deg); /* Для Safari, Chrome, iOS */
    -o-transform:rotate(30deg);
    transform: rotate(30deg);
  }
  100%{
    -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform:rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate1 {
  0%{
    -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform:rotate(0deg);
    transform: rotate(0deg);
  }
  50%{

    -moz-transform: rotate(30deg); /* Для Firefox */
    -ms-transform: rotate(30deg); /* Для IE */
    -webkit-transform: rotate(30deg); /* Для Safari, Chrome, iOS */
    -o-transform:rotate(30deg);
    transform: rotate(30deg);
  }
  100%{
    -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform:rotate(0deg);
    transform: rotate(0deg);
  }
}


.call-container {
  position:absolute;
  right:20px;
  bottom:20px;
  transition: all 0.5s;
  >.call {
    .background-flick{
      width: 110px;
      height: 101px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABcCAYAAACP6YBdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABeRJREFUeNrsnI2S2joMhe3Ygb7/225+u7RJK8SRbDr3EkPOmfGE3dmF4C9HVhTbIVAURVEURVEURVEURVEURVEURVEURVEURR2m+Ilfal3Xxy8aI8E1CClurROv99/vFFfRltvxnWHGN4bVbS2J1xKc/G47vGWH9t3mrf363btBjG8ILG0ti9cSoAVOum0R4PY2bQBXgvvvgWXVkoJngQvCaRLcsgHbwY37z607ML4BtNs59lvL4miB6xzHyTC5CGCyjQJgsyE0v4HLbqAuBrwE4EXVVidUTgreKN7r9nr4Po8m3ZcbhpY3YBcFrgfhMj/hOD3GIWjyQrjBG1uDlxuF1gtgV+C6vhIccpwVJjNIeP5cAN/nNbWUuORGoV0FNMt1PQCXKh03A3BjYayM3+c3tOK83HB4vAJwpZBpOS44YXJPRFCSoxO4tZWw2ZLjEoCGnFdynYSnHYfCZFZui0b15Y9rW0hYciNui2pcuxSct//tnmHqcGmNcaWkpAR+f4+v7XhecCpE9gY07TyZrHjhUna8FSaT4zaz4nL0eNeC4zoR9i4GQM95fWGc0xmldJtVebGgoXLZ+cCJLFK32pAp4SUFDznOAtdV3PfJsbHfXHdYbfNoxyVVCbEgXh2Aluu041CYlGNiqa55B028x3wqcE7huC+4sBQyk0rngxMm9d9Z46GEJm/W81GuO9JxHah+IIAXJ3GRlRUZMpNKMiy3xUJIdaGJW4nTgUsAWlLw8hPjng6XQd18T+CeLTh1zNmAdVfT3Fz3+eDEE+wEWjYaGvdQ2EQJygJCZHTKYRMAlpw2vdp1RzkuqjHG65QSQO08HS5X4LZojGfPwLLGyI8Hh+aM1AK03KddJ8GNKoSiTFMDywVgss1nAxeNjtDQuooE5iqSlb2DVxUiUZaJxtgU7MlInVMe+3hwCJ4FsVMdiRIY7bwMwEUBTWaJnpM64zyj+h6nAhdAByCIJVdmlX3u8NIWDgeVpOSK0GddVOh8fyVcr8wsXw5OTWCNAT9G0UfrKo8GxBu0H9vrfeyZgz0jrHvyfNCF9/J7qZZkdVYAnWY1CfIa7p/TeReM9Xk153XKpwO63ISOAVTsrSbT+68gZis7/xOcz6s5r88HdxsH1t/x0upAdFwMQFYheBBF7H2Mm4Kadg7eq/Z8VvDzKRy3FgBpKOgRi/U0uxOJSBRZ5RD+zi+ZVFlrcRoC+wDwFCWvYD/vWgudaM3Q2sHoEpdM/8ctdA7hfpLQVAFwLQBdzuS4GjeVYKFJPui+bRFwB+G+EbyndiIKrwje6cDNwV9BMznAEqg9ziKTRLVK6byxAHAC5zSDcz8luMXonJLL0JSDJdxPSZC/nwUk5LyS+zyA5wC3ZZbPwCoBW0FVRDtOu27YnFfjvhLEUz1IXSpDop6waj25nsP9I53O+SztugG4cKqFeMQ0vaPB6fHEc5iuF8rsVBaN9dQFPVloAiFTOw8lMBbEc83yEuGylHjA1TMGEGuy0OK4TiYr1thnwjvr9LzZCIneEmELRq4YAxdwkQzKeUMheblbsXrKWuXmOgta7SJF7bYU8FRynb2OqqKC4HlhczxyvVwLRea9luiNZ946AD3loLRaZwZjXU2yon+ej+y0w8Ftrtuv/GeXA+/zHa2VpNakIF3fHI2w+WVVW7jM6je8dQuZ6JmZBU5PUpVTG7z/ReFyrEhWZFuO7rOWnsfNolBcswy4d8KkXE0qV6Suxo2+FzK182auSMUhs7Qr0AwyyfwPCQ1aAz6qMe1LHSeuAfezzBAen9N5U8NRmIyG4zQ4K2Q+JCjcdaEOXmlvkuyEyX/d52QCrhuOvNF+G3AqbFpus6aIy9sIPcaVwE2gWtLMmPbQR6Fxqb28vF2FUuHeT4+Tb72X17vvnqc3pnnGcd5+Xtw9739wX+eEyWf2q0ThkvtVvsCBegZzBOUu5DgULrlD7EEQY/B3BUKu457MjcJ8yFQpiqIoiqIoiqIoiqIoiqIoiqIoiqIoimpNPwUYAMwlyi5lh0TfAAAAAElFTkSuQmCC);
      position: absolute;
      left:-31px;
      top:-20px;
      background-size: 150px;
      @include anim(anim_background2,infinite,3s);
    }
    cursor: pointer;
    //background-color: rgba(0, 175, 242, 0.8);
    width: 110px;
    height: 93px;
    border-radius: 80px;
    position: relative;
    @include anim(anim_background,infinite,3s);
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABcCAYAAACP6YBdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABI9JREFUeNrsndtNG0EUhmdHPDsNQAUuIFkKAL9GIlsAcQOLC8AUAC6ASwEWkl8NBWBSwKYBkgLYCjLjmY0v2GZ3PZczu/8vTSQSxWPNx7nNNWIhaZJ3xZ+dDf/yh33vvLEWKSIKZ7kdinZU4RNmor2L9lu0F9EyATUHOPOgpAX1RDsV7XiLRe2rTAOdCogzgDMDq+e493wOkLE7ATEDuHLApMvri5ZYsqw6ligBjgFuO7ALDYyiZGJzExLAyDIwaVUDbWUhSAIcCoDT9oKb5H0NrcPCk0xgUsolRmQBmHSLI9HiwBM3mcRcC3h3zQc3yXsaWoc1R9L6zqnVgpFBaFcBxbI61ndGqXyIDACT1vXQANdYRimVzDMyAO2RqamptogEvAjQamks4KU+vwAHtFpKdEwPCBygFeqLsUhCsrgHQPuvkS94UUVrGzG6842tKhV4BWgJoG2UDB33OoQQA6dWpa/AaKuKaT5yFte0aSwb6ukpPyLgJvkAyUilZKXjH9xixRoqH+9GFCxuCBdZy2XG/sCpznvgUEsDnxY3wPjXVmy7MOc7rC3G+O+lvg+Lg7Xtr67NWMe3ZJKwNuJWx12beAszzCNX4DAfaVan9sGpKRvUbQG4S+7it6PlOrLhLvmH+gMKwl3yJTfZZdUOEEJVkhSLFgdrs6cY4EKV4WKcr1T6UDDuMlr6jfiLsbUuY+fvoiUzfsS4OpM8AXS5z86wwlV+wVg6T1ae59sda9Z4HPHNqxINcFB1rwrH2HmXBHahASZVwWF+0r/U3sxJ/lymdICrpKfuPFGc5I+74h9cJe0E5nV+nGtD/AM4+pLLQr/0xmSACzKBmeSvxTZ3gAsvgZEng+ICXIYxCUJyquybvLrxQP9FjjEhLWlYl8t3bR5gTEgr18DG27LKF4wROd2I9nXbnSpwlTTj2PCzm/uwHkc4ju3Swdp/xNQXoTi2S3wNHEQojpW1OGmi2H5OKI5VAQcRimPlkhOVoLwybIolE8fKxjipJ4yxFZ2YvuNyHdwYY2zBPVq4TX0VnNou9oaxNiort6hzVx21OLZNXYGDuzSZ9lu69v4jONUR4JkrsJkri7PaYYs0s/nEy2ZwqkNY3X66tvnh3IeZtyS2zfyAU1aHDLOehrY74CXMHYusVRMSB8+X7QanMswULEpLArt10dHn+yrV6ckpmJRS6uq5Ml76C2EqrIyLdLY0Vv7BCHUPyjP4bK3Zzlx2WH4LupqARrzbHNfOXXda7eyAWlNCYb6QjGc/fTzDWe/9OLyxU+jE1/Ob9U7rqEfv2m55qc83U/d9arOtluf9uU0Tj9u2CR6Z14n3P9io3GYbJqTfGKEnpU2+A97Ex9sXdRqxR9wjo5+mrne4Z806gyBnRK6pfanIyqeqGwIuGuAaU5fTWP7BKXjFK48xrCwkcAuAiba+ELa2j5mj9TT64MIAGAww9+BWASYEXGixDfEuJGD+wK1moBLgD8dWKBeFn3zPfIQL7iPEU22Fx4ZrwUzXYbK9UKrFwge3GWRXt8Mli4x3uL1sqVh+1z9nTQG1rn8CDAA9flpvdY1bxwAAAABJRU5ErkJggg==);

    >.phone{
      position: absolute;

      width: 90px;
      height: 93px;
      background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNJREFUeNrsnY1xozAQhYUroIPzVRBSwZEOKIFUkLiC81WQSwW4A3IVkFSAO8AdkA6INBEzxEdsBNKin/dmGHvGnqB8Wd6uxIowBkEQBEGBKzL5w7uuS+XbUxRFJ+DWCzfnR9n9r4ofWxBaDjjhR91dViu+B1rzIT920wXYMyEXnboAmwByrxoE9dvFd9qD5PXEp0uwkAugG42gKxAdh7zv9CvHzPAr5Ji/NPyINY9DzBx/+gx6o/j9zABkoa3vUa0a0aIkM5W8vI7qjQLkrUHIfVSnsA7GKCA8ADSPOILxZDLhBg36F9GYMlQdNLoBaBolAE2jE0DT6E/ooN8IxnPv603cjUWX9IFDPrDQpXkN+lwFg77AbgGZBnSpGfJTKOxUqw6dCXHHPXmH8B2P6C3sgg52vRBykG0GcyYszwvP+Q+gp+kF1zUBaJ7A3sXkYsE5b4B9uk+nCzy6BUE12BX6OGhA5wtANyCoBrtBVDsQ1b7eiLUxqvcgSBPVaNslnJbDQojqaqESFGnqavi1AmgdS6go+SbC1rEbIAXJ66BjDftbsAeRKDECtgLsArDdsRDAJrSQHnZueKyJTORuNsKLvg2b9yJKwGP1f+Fc9aPhrrmRSc3Evey1M7W9nMjobCUrFo4nnpGsGyciXKNfDyMtngl5yRVWWZ+cNSynjiXJVPHK0mVjT1YnTc3JcfIvLZNea+APndkMuzAA+1sPNQT5vEKJQ4Lde2g6OE9mGPIwZyQh2cgwwquOVhdnsdHaCZK/+NTCK9rl7qIoOp5/sOr2N7k56E4O0AcJr/499sHq+ww57FcJ++gRbPtAS9hHCfvgiX3YCVrCfufHPX+7c9xK3qwGPQD+13EreXUCdG8l/Lhl7u0LP45VHNaCHgAXy6K3DkX3s5V1tGLNLaA/MDOPg9Mhf55yJlfgys5O5cw3yfXt2iLIfj9fVa5xNytDboPphl0ReJjtEBJ4TQg5ZyFLeniBSKYDHsu2Ap1RXmKHwvXS8HHBDYFqSctBFLK9sM8H2/5gn89dTc4mQ2I2epKLRC/4F1QQBEEQBEEQBHmrDwEGANI+JrnWw48AAAAAAElFTkSuQmCC);
      @include zz(0.6,0.6);
      left:0px !important;
      padding-top: 0 !important;
      @include trans_settings;
      &.rotator{
        @include anim(rotator,infinite,1s);
      }
    }
    >.slide1,>.slide2,>.slide3,>.hover-block{
      position: absolute;


    }
    >.animal{
      width: 90px;
      height: 90px;
      background-repeat: no-repeat;
      @include zz(0.7,0.7);
      left:0px !important;
      top:0 !important;
      padding-top: 0 !important;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABXJJREFUeNrsXYtxozAQBU8KoIMjHZAKgitIrgO7gnAVBFfg6wCnApwKcCrAHZAO4Crg0GSZ4wgffXZBYL0ZjzOJkcTT/lc4lmVgYGBgYGCgL8qydA0L9CT75Rd8wwahJFevHIjODCM0JDvVKy3/R2iYwSc6Kr+DSbdj2MEjOSz7cTQM4ZC8K4dhpBqBZK/h/IYQGLZwIowxpIihY8Y2+JYjjDF4inM2/UBmSEY2H6A5XfOFayc6LuWQSDraPvOU6UySr3j9sZRHLqg1EceYz7rGutKhFrupUh2ugqmQjtFhTKaJSeMVUJDsqSQQghHGEHykcJE7mgHtyGBsDyIXDzQmwCY6UYkAONWYBzuFxKcPzsjaAxj7GTRlV98/Vtg5dAOppDaoIkQmmUdLkoYT9zt8zuD1GwGuXzt+5wmERy/EvoM5tEhhiDG7X4Bv+GT33fob04ZiijqExzFGTiXREja5FI2ngYOwEckkYEYcNNMBTkDamSCbjW/hmGTiI5y4gNkIa3sODjFBSeUF7F44UlvAhN9yUhhIOPkIGqFdhNbX7Ig0hE0INtGC2kaWcYpgMxb3Vm8iWWDcEyYViGs+txygay0AY1GHaGrqdnl+27aviGS/N35+WkvhR9bJBETJSkYYyRznlGhZb3rssNdvCOs9NCMZiF+x8GcWohEOrsQt83Gp3i4K412qMU4IQtCbkMwl0ao34naEfHvJGyrgWpFMThTXuYjGUMuXllSz9HUrSDb77BaupcRsRGPAaWdxEIHwkl2TfKUmuZqjWDLRnSEYEHdfvU4D17G/PQyQjEn+hZqEuwmI7rSlIEH7SuJ/QVLkNaT4zGEqMIl+s+bCyPEs6ZQZeY3xHKk3VOx2aPXdBRDtIizPEyS47pkmWDfhIPGcEmueSlclEJwnJylCCVbu+hBzzOPDjfgyZUdJsiNBCaar9ilKy6jUQEOgq8yZQR/OEzR1PLWPfOwcB5ikaGS8BFs1VaXaVdzElNfxNCQw7Rkn6Ot21w5OoJCGTrRKPy5B1JQMzdOLS6+USZzShPg9G6dUKsV4UqtBMFmPUXZhvuCuR8ja8U2iZI6lgYk4IsxPQ3RjkTxScOy5Ni1xkQk6TA9xDUJE27JqZ321uR5bVb4PVqPoSp/BXvsE+89VeIINSRCbBYdqTjqpltyYqKRFPhR/gzblyHMK9VM3E5DMdn1HPI0zMsfRwm17WRZxR2aOhEc1lHSJ5nO0kGhwiJEG+01xmr8QbRTcERDsAsG+JopFcfZDuBZ+h0SuA8Q+TWCPdcA7OdFAqgfE/oCfb+PByH84kREN4czrDZLaxm+ZRu6Gk2RmDuKFkozZW2QEH2Qu3HCQ7GoSPcjiA3GsveyxBB6JXopz68wMK2LOSFJ9grGkYHNINFWNAh0VEfZAnUOld8nO/W1V1raxVoS+OjUUnPYKNv6n6tpWRfSQ5sFJVNFzf8xcPGAcF1sb0U8jpuVifR1FO4wQ/smkuPr8HmthPDaa1SyW9BU797wnT8HU1FrwCBHKVcXpqdi9KStw2j8iQSnRLOXOFyTRBUh1odOiRm00LPi0IKIdHU2dLWDLEiPVxFEHwoM+c0j16+IkulHzSC383hsltiAkyyG6jkCsZRWYWJj3oJtjNOGeLhK9YMme3YTYCpJdf7XOEmy2cvVtNqKBbA/I1r7z0ldCXQTRjcyR2cGdIXoaJ/lMcL4NC7G1JsBhwlhDon1rjQDpzow0Tyfd4czmJCtv5f8CzEh4Xt7KV8t3EC7yeNlkj1ysmXQPHtihsOORjubC1oB0VhWsn4dhUugKDsEKRiy9Zv2+8wTfVLNMonvI9yG19wbIZectPnUl1sDAwMDAwKCFvwIMAHoToF4Xa4KUAAAAAElFTkSuQmCC);
    }
    >.slide{
     //  -webkit-font-smoothing: subpixel-antialiased !important;
     // font-smooth: always !important;
      color: rgb(255, 255, 255);
      font-family: Arial;
      font-size: 26px;
      font-weight: bold;
      padding-top: 15px;
      text-align: center;
      left: 0px;
      text-transform: uppercase;
      @include trans_settings;
    }
    >.rating{
     //  -webkit-font-smoothing: none;
     // font-smooth: never;
      padding-top: 0;
      top:-10px;
      text-transform: none;
      >.title{
        font-size: 60px;
      }
      left:-5px;
      @include zz(0.6,0.6);

    }
    >.hover-block{
      top:5px;
      left:-8px;
      @include zz(0.6,0.6);
    }
    >.zoom_out{
     //  -webkit-font-smoothing: none;
     // font-smooth: never;
      display: block;
      //@include anim(zoom_in,reverse,2s);
      opacity: .0;
      @include zz(0.1,0.3);
      @include trans_settings;
    }
    >.zoom_in{
     //  -webkit-font-smoothing: none;
     // font-smooth: never;
      display: block;
      //@include anim(zoom_in,initial,2s);
      opacity: 1.0;
      @include zz(0.6,0.6);
      @include trans_settings;
    }
    >.all_hide{
     //  -webkit-font-smoothing: none;
     // font-smooth: never;
      opacity: 0;
      @include zz(0.1,0.3);
    }

  }
}